<div class="home-container">
    <!-- Card menores -->
    <app-small-card
    gameCover="assets/assets/bt-1.jpg">

    </app-small-card>

    <app-small-card
    gameCover="assets/assets/bt-4.jpg">
        
    </app-small-card>

    <app-small-card
    gameCover="assets/assets/bt-hardline.jpg">
        
    </app-small-card>
    

    <app-ofertas></app-ofertas>


    <!-- Card maiores -->

        <app-card
        gameCover="assets/assets/bt-5.jpg"
        gameLabel="Exclusivo"
        gamePrice="R$299,99"
        gameType="Digital PS4">
        </app-card>

        <app-card
        gameCover="assets/assets/bt-4.jpg"
        gameLabel="Digital"
        gamePrice="R$129,99"
        gameType="Digital PS4 | PS3">
        </app-card>

        <app-card
        gameCover="assets/assets/ac-cover.jpg"
        gameLabel="Digital"
        gamePrice="R$89,99"
        gameType="Digital PS3">
        </app-card>

</div>
